a {
  color: #348eda;
}

.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: #348eda;
  border: solid #348eda;
  border-width: 10px 20px;
  line-height: 2;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}

.btn-secondary {
  text-decoration: none;
  color: #FFF;
  background-color: #aaa;
  border: solid #aaa;
  border-width: 10px 20px;
  line-height: 2;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}