/* ---------------------------------------------------
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block!important;
  max-width: 600px!important;
  margin: 0 auto!important; /* makes it centered */
  clear: both!important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
  padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}