/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
  margin: 40px 0 10px;
  line-height: 1.2;
  font-weight: 200;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}

p, ul, ol {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
}

ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}